beautifulsoup4==4.10.0
FrenchLefffLemmatizer @ git+https://github.com/ClaudeCoulombe/FrenchLefffLemmatizer.git@bc0ebd0135a6cc78f48ddf184069b4c0b9c017d8
ipykernel==6.12.1
joblib==1.1.0
matplotlib==3.5.1
nltk==3.7
numpy==1.22.3
pandas==1.4.2
regex==2022.3.15
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
Unidecode==1.3.4
wordcloud==1.8.1
nlpaug
transformers
sentencepiece